@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Onest', sans-serif;
}

#loader {
  display: flex;
  padding: 2rem;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

#loader div {
  animation: bounce 1.5s infinite ease-in-out;
  background-color: #a8d5ba;
  border-radius: 100%;
  height: 20px;
  margin: 0.3rem;
  width: 20px;
}

#loader div:nth-child(2) {
  animation-delay: 300ms;
}

#loader div:nth-child(3) {
  animation-delay: 600ms;
}
