---
interface Props {
	title: string;
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Condensr is a personal project created for educational purposes. It is a simple URL shortener built with Node.js, MongoDB, Astro, React, and TailwindCSS. This project focuses on learning full-stack development, covering API design, database management, and responsive web design." />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
