---
import '@/styles/global.css'

import Layout from '@/layouts/Layout.astro'
---

<Layout title="✂️ Condensr">
  <main class="
    max-w-[1200px] h-screen m-auto overflow-hidden 
    flex flex-col justify-center items-center gap-20 px-5 xl:px-0
  ">
    <div class="w-full flex flex-col items-center justify-center">
      <img src="500.png" alt="500 error image" />
      <button class="p-3 rounded-lg focus:outline-none
      bg-primary ring-2 ring-primary text-white font-semibold
        active:shadow-inner active:translate-y-1 hover:ring-tertiary
        hover:bg-tertiary"
        onclick="window.location.href='/'"
      >Back to Homepage</button>
    </div>
  </main>
</Layout>
